.title-list{
    background-color: rgba(0, 0, 0,.3) ;
    margin : 15px;
    border: 1px solid white;
    margin-top: 35px;
    border-radius:15px;
}
.course-name{
    padding-left: 30px;
}

.course-name-click{
    padding-left: 30px;
}

.course-name-click h3:hover{
    cursor: pointer;
    color: aqua;
}
.titles-list{
display: flex;
justify-content: center;
}
.titles-list h4{
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.titles-list h4:hover{
    cursor: pointer;
    color: aqua;
    transform: scale(1.05);
  font-weight: bolder;
}
.titles-list img{
    cursor: pointer;
}
.titles-list img{
    padding-top: 30px;
}
.course-subject-name{
    display: flex;
    }  
    .course-subject-name h3{
        margin-left: 20px;
        padding-top: 15px;
    }
.course-subject-name h3:hover{
    cursor: pointer;
    color:aqua;
    transform: scale(1.05);
  font-weight: bolder;
}
.course-subject-name img{
    padding-left: 30px;
    padding-top: 20px;
    cursor: pointer;
}
.upper-tags{
    display: flex;
}
.second-tag{
    display: flex;
    padding-top: 18px;
}
.title-name-quiz{
    padding-left:30px; 
}
